/* The Great Reset(tm) */
* { margin: 0; padding: 0; }

/* Hide previous and next slides */
body { overflow: hidden; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.current, .previous, .next { display: block; }
.current, .previous, .next, .animated {
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
}

.current  { left: 0; }
.next     { left: 100%; }
.previous { left: -100%; }


section { line-height: 1.4; }
section > * { margin-left: 15%; margin-right: 15%; }

section > ul { font-size: 150%; padding-left: 1em; }
section > ul > li { margin-bottom: 10px; }

section > p { font-size: 130%; margin-bottom: 10px; }

h1 {
  text-align: center;
  font-size: 32pt;
  margin-top: 40px;
  margin-bottom: 10px;
}
.subtitle {
  position: relative;
  top: -10px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

/* change the blockquote tag to something beautiful 
 * I really dislike the colors, but this is kind of personal taste
 * */
blockquote {
  border: 2px solid #000033;
  background: #CCFFCC;
  border-radius: 12px;
  width: 90%;
  margin: 15px;
  padding: 5px;
  quotes: "\201C" "\201D";
  text-align: center;
}
/* some quote-open and -close for the blockquote tag*/
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }

header, footer {
  position: absolute;
  width: 100%;
  font-size: 10pt;
  color: #aaa;
}
header > *, footer > * { padding: 10px; }
footer { bottom: 0; }

.floatleft { float: left; }
.floatright { float: right; }

/* First slide */
section#welcome, section#bye { z-index: 1; background-color: white; }
section#welcome h1, section#bye h1 { font-size: 40pt; padding-top: 2em; }
